In [ ]:
### Q1
   A-SET
   B-TUP
   C-DICT
   D-LIST

In [ ]:
### Q2.State two differences between a list and a tuple in Python.
ANS- List can be appended
     List is muted 
     Tup immutated

In [8]:
### Q3 Make a list containing names of five animals with a variable name animal_list.
 ##Write a code for the following:
  ##Print the first two animals
animal_lst=('lion','pig','cow','hen','horse')
print(animal_lst[0:2])

   ##Print the last two animals
animal_lst=('lion','pig','cow','hen','horse')
print(animal_lst[-2:])

#### Add three extra animals to the variable animal_list
animal_lst= ['lion','pig','cow','hen','horse']
animal_lst.extend(['bee','dog'])
print(animal_lst)

  

### How many animals are in the animal_list?
animal_lst= {'lion','pig','cow','hen','horse'}
len(animal_lst)

#### Create a variable animal_set which stores the set of animal_list

('lion', 'pig')
('hen', 'horse')
['lion', 'pig', 'cow', 'hen', 'horse', 'bee', 'dog']

5

In [1]:
###Q4 Create a list called first containing only the two first items from suitcase.
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first = suitcase[:2]
print(first)
##Create a list called middle containing only the two middle items from suitcase.
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
middle = suitcase[2:4]
print(middle)
###Create a list called last made up only of the last two items from suitcase.
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
last = suitcase[4:6]
print(last)

['sunglasses', 'hat']
['passport', 'laptop']
['suit', 'shoes']

In [2]:
#### Q5 Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.


values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

In [ ]:
### Q6 Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [3]:
#### Q7 Create a dictionary with 5 Ghana regions and their capitals and store it in the variable region_capital
#### Print out the keys of region_capital#
#### Print out the values of region_capital#

region_capital={'Greater Accra': 'Accra','Central Region': 'Cape Coast', 'Western Region':'Takoradi','Esatern Region':'Koforidua','Savanah Region':'Bawku'}
print(region_capital.keys())
print(region_capital.values())

dict_keys(['Greater Accra', 'Central Region', 'Western Region', 'Esatern Region', 'Savanah Region'])
dict_values(['Accra', 'Cape Coast', 'Takoradi', 'Koforidua', 'Bawku'])

In [13]:
#### Q8 `values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`
#Using the codes above answer the following questions:
#What is the total number of elements in values?    


values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
print(len(values))

16

In [14]:
print(sum(values))

62

In [15]:
print(max(values))

6

In [19]:
values_set = set(values)
type(values_set)

set

In [20]:
len(values)

16

In [ ]:
##Q9
dicts = {}
for j in range(1,16):
    dicts[j] = j**2
    dicts

In [21]:
### Q10

keys = [x,y,z]
diction = {}
for key in keys
 if key =='x'
    diction[key] = list(range(11,21))
elif key == 'y'
    diction[key] = list(range(21,30))
elif key== 'z'
    diction[key] = list(range(31,40))
for key in keys:
print(f"{key} : {diction[key][4]}")

SyntaxError: invalid syntax (2698818839.py, line 5)